:root{
    --main-color-headers: #212121;
    --main-text-color:  #757575;
    --white-color: #FFFFFF;
    --section-buttons: #F5F4FA;
    --color-button-logo: #2196F3;
    --background: #2F303A;
    --color-logo-links: #2196F3;
    --color-work:#E5E5E5;
    --color-our-team:  #F5F4FA;
    --card-content-border:  #EEEEEE;
    --hero-footer-background: #2f303a;
    --footer-phone-mail: rgba(255, 255, 255, 0.6);
    --company-social-color: #AFB1B8;
} 

/* универсальный селектор */
*{
    list-style: none;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;      
}

body {
     font-family: Roboto;
     font-style: normal;
    background-color: var(--white-color);
    color: var(--main-text-color);
    }

img {
display: block;
max-width: 100%;
height: auto;
    }

.conteiner {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.head .conteiner {
  padding-top: 24px;
  padding-bottom: 25px;
}
/* общие свойства ссылок */


/* ссылки */
.link {
  text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: inherit;
 }

/* Шапка сайта */

.logo {
    font-style: normal;
    letter-spacing: 0.03em;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px; 
    line-height: 1.192;
    color: var(--main-color-headers);
    margin-right: 93px;
    
    
    

  }
  .web-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--color-logo-links); 
    width: 145px;

    
}

.sait-nav {
    display:flex;
    align-items: center; 
    justify-content: space-between; 
  
}

.web-link{
  display: flex;
  justify-content: space-between;
  /* width: 294px;
  */
    
 }
 /* контакты  */

.web-contacts 
{
    align-items: center;
    margin-left: 305px;
    display: flex; 
    justify-content: space-between; 
    width: 333px;

    
   }
   .web-link li:not(:last-child) {
     margin-right: 50px;

   }
   

   .link:hover,
   .link:focus {
     color: var(--color-logo-links);
   }


.contactssvg{
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;    
}
 
.contactssvg:hover,
.contactssvg:focus{
    Fill: var(--color-button-logo) ;      
}
   header{
    border-bottom: 1px solid #ECECEC;
}



/* Герой */
 .hero {
      background-color:#2F303A ;
      padding-bottom: 200px;
      padding-top: 200px;  
     background-image:linear-gradient(to right,rgba(48, 58, 47, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
     max-width: 1600px;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     justify-content: center;
     margin: 0 auto;
      
      }


.hero-title {
    width: 696px;
    display:flex;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    color: var(--white-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto; 
    margin-bottom: 30px;

    
     /* кнопка */

}
.button-style{

    display:flex;
    justify-content: center;
    font-weight: bold;
    font-family: Roboto;
     font-size: 16px;
     line-height: 1.875;
     padding: 10px 32px;
     letter-spacing: 0.06em;
     align-items: center;
     margin: auto; 
     background: var(--color-button-logo);
     color: var(--white-color);
     display: flex;      
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;     
     border: none; 
     cursor: pointer;
}
     
/* особенности  */

.section-one{
    padding-top: 94px; 
}

.section-two{
display: flex;
justify-content: space-between;
}

.section-three{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: var(--color-our-team);
  border-radius: 4px;
}


.special content{
    display: flex; 
    justify-content: space-between;
}

.special-columns li:not(:last-child){
    margin-right: 30px;
}
.special ul{
    display: flex;
}


.special-title{
    font-weight: bold;
    line-height: 1.172;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-headers);
    margin-bottom: 10px;
    margin-top: 30px;
    
}
.special-text{
    width: 270px;
    font-size: 14px;
    line-height: 1.714;
    color: var(--main-text-color);
    font-weight: normal;
    letter-spacing: 0.03em;
    
    
}

/* Чем мы занимаемся */

.box-img{
    display: flex;
     justify-content: space-between;
}
.our-work{
    
    padding-bottom: 94px; 
    padding-top: 94px;   
}





/* Наша команда */
.team{
     
  background: var(--color-our-team);
  padding-top: 94px;
   padding-bottom: 94px; 
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.title{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-headers);
  margin-bottom: 50px;
} 

.team-conteiner {
  padding: 30px 32px;
}
 
.icons-card:not(:last-child){
  margin-right: 10px;
}

.team .scorecard{
 background: var(--white-color);             
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;     
}

.list-item .team-scorecard{
  margin-top: 30px;
  margin-bottom: 30px;
}

.team-member{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;       
  letter-spacing: 0.03em;    
  color: var(--main-color-headers);
  text-align: center;     
}

.team-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;     
  margin-top: 10px;    
}
.icons-list{
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  justify-content: center;   
}



.icons-list .icons-card{      
 display: flex;
 justify-content: center;
 align-items: center;    
}   
.icons-ref{
 display: inline-flex;
 justify-content: center;
 align-items: center; 
 background-color: inherit;
 fill: var(--company-social-color);   
 width: 44px;
 height: 44px;   
 border-radius: 50%;
}
  
.icons-ref:hover, 
.icons-ref:focus{
fill: var(--white-color);
background-color:var(--color-button-logo) ;  
 }

.team-svg{
  width: 20px;
    height: 20px;
}
/* Адреса */


.footer .conteiner{ 
  display: flex;  
  padding-top: 60px;
  padding-bottom: 60px;        
}
.footer{
 background: var(--hero-footer-background); 
}
.footer-nav{
  display: flex;
 justify-content: center;
  width: 231px; 
  margin-right: 70px;
} 











.footer .logo{
color: var(--white-color);      
}  

.logo-web{
 color: var(--color-logo-links) ;
}

.footer .mail{
 font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color:  var(--footer-phone-mail);
  
}
.footer .phone{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color:  var(--footer-phone-mail);       
}  
.address{
  margin-top: 20px;
}
.contacts {  
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;     
  letter-spacing: 0.03em; 
  color: var(--white-color);       
}
/* .footer .conteiner{ 
  display: flex;  
  padding-top: 60px;
  padding-bottom: 60px;        
} */
.footer-contacts li{
margin-top: 9px;
}
.footer .link:hover,
.footer .link:focus{
  color: var(--color-button-logo);
}
.footer-join {
  display: flex;
 justify-content: center;   
} 


.socials {
  width: 20px;
  height: 20px;
}
.title-join{
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;             
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.social-list:not(:last-child){
  margin-right: 10px;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg-social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill:#FFFFFF;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.svg-social:hover,
.svg-social:focus {
  fill: #FFFFFF;
  background-color: var(--color-button-logo);
}


    /* Портфолио */
    .web-link{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        color: var(--main-color-headers) ;
}
     .mail{
        text-decoration: none;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        color: var(--main-text-color);
        line-height: 1.142;
     }
    .phone{
        text-decoration: none;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        color: var(--main-text-color);
        line-height: 1.142;
    } 
   /* Кнопки портфолио */

.button-portfolio:focus,
.button-portfolio:hover {
    color: var(--white-color);
  background-color: var(--color-logo-links);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.buttons-portfolio{
    margin-bottom: 50px; 
    display: flex;
    justify-content: center;
    
    
}

.button-portfolio{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-headers);
    background-color: var(--section-buttons);
    padding: 6px 22px;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 4px;
    border: none; 
   }

   /* Фото портфолио */
   .portfolio-page{
    padding-top: 94px;
    padding-bottom: 94px;
   }
.project{
    flex-basis: calc((100% - 90px) / 3);
      margin-left: 30px;
      margin-top: 30px;
}

.card-content{
    padding: 20px 24px;
    background-color: var(--white-color);
   border: 1px solid var(--card-content-border); 
  

  }

  .project:hover,
  .project:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    background-color: var(--color-logo-links);
  }

.photo-portfolio{
    padding: 0;
    margin: 0;
   display: flex;
   flex-wrap: wrap;
   margin-top: -30px;
   margin-left: -30px; 
    }

    .portfolio-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--main-color-headers);
    letter-spacing: 0.06em;
    }

.photo-name{
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
}



/* Адрес */

.portfolio-down{
    background: var(--background);
}

.footer-web{
    font-family: Raleway;
    font-weight: bold;
    line-height: 1.192;
    color: var(--color-button-logo);
}
.footer-studio{
    font-family: Raleway;
    font-weight: bold;
    line-height: 1.192;
    color:  var(--white-color);
}
.address-style{
    font-style: normal;
    font-family: Roboto;
    font-weight: normal;
    line-height: 1.714;
    color: var(--white-color);
    }
.portfolio-footer-mail{
    Text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.714;
    color: var(--main-text-color);
    }
.portfolio-footer-phone{
    Text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.714;
    color: var(--main-text-color);
    }


  /* Наши клиенты */
  .client{
    padding-top: 94px;
   padding-bottom: 94px;
  } 

  .svg-client{
    width: 106px;
    height: 60px;
    align-items: center;
    margin: 16px 32px;
    border: none; 
    }


  .clients-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .clients-link:hover ,
  .clients-link:focus {
    outline: 1px solid var(--color-button-logo);
  }

  
  
  .clients-link{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    fill: var(--company-social-color);
  
  }
  .clients-link:hover,
  .clients-link:focus{
    fill: var(--color-button-logo);
    border:var(--color-button-logo);
  }

  .our-clients-team:not(:last-child){
    margin-right: 30px; 
  }

.our-team{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-headers);
  margin-bottom: 50px;
}

